<body>

  <h1><a>VAŠ PROFIL</a></h1>

    <br>
    <br>
    <br>

    <div class="card_div">
      <mat-card class="cook_profile_card">
        <img mat-card-lg-image name="profile_picture" class="profile_picture" src="assets\chef_profile.jpg" >
          
          <mat-card-content>
            <div class="cook_data">
              <span>{{loggedChefName}}</span>
              <span>&nbsp;</span>
              <span>{{loggedChefLastName}}</span>
            </div>
  
            <br>

            <div class="options">
              <button mat-raised-button class="option_button" id="orders" (click) = "orders()">PORUDŽBINE</button>
              <button mat-raised-button class="option_button" id="meals" (click) = "meal()">JELA</button>
              <button mat-raised-button class="option_button" id="current_menu" (click) = "currentMenu()">TRENUTNI&nbsp;JELOVNIK</button>
              <button mat-raised-button class="option_button" id="new_menu" (click) = "newMenu()">NOVI&nbsp;JELOVNIK</button>
            </div>
          </mat-card-content>
  
          <mat-card-actions>
            <button mat-button (click) = "logout()" id="logout">ODJAVA</button>
          </mat-card-actions>
      </mat-card>
  </div>
  
  </body>



