<body>
    <h1><a (click) = "nazadNaProfil()">VAŠ PROFIL</a></h1>
  
    <br/>
    <br/>
    
    <mat-card class="new-meal-card">
      <mat-card-title-group>
          <img mat-card-lg-image class="picture" src="assets\pice.png" >
        </mat-card-title-group>
      
      <mat-card-content>

        <br />
        <form class="form" [formGroup] = "piceForma">

          <mat-form-field appearance="legacy">
            <mat-label for="name">NAZIV PIĆA</mat-label>
            <input type="text" class="form-control" formControlName="name"  matInput>
            <mat-error *ngIf = "requiredError('name', 'required')">Potrebno je uneti naziv pića!</mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
          <br />
          
          <mat-form-field appearance="legacy">
            <mat-label for="description">OPIS PIĆA</mat-label>
            <textarea matInput  type="text" class="form-control" formControlName="description"></textarea>
            <mat-error *ngIf = "requiredError('description', 'required')">Potrebno je uneti opis pića!</mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
          <br />

          <mat-form-field appearance="legacy">
              <mat-label for="type">KATEGORIJA PIĆA</mat-label>
              <mat-select class="form-control" formControlName="type">
                  <mat-option value="CARBONATED_DRINK">Gazirano piće</mat-option>
                  <mat-option value="NOCARBONATED_DRINK">Negazirano piće</mat-option>
                  <mat-option value="ALCOHOL">Alkoholno piće</mat-option>
                  <mat-option value="HOT_DRINK">Topli napitci</mat-option>
              </mat-select>
              <mat-error *ngIf = "requiredError('type', 'required')">Potrebno je uneti kategoriju pićA!</mat-error>
          </mat-form-field>
          <br />

          <mat-form-field appearance="legacy">
              <mat-label for="amountNumber">KOLIČINA</mat-label>
              <input type="number" class="form-control" formControlName="amountNumber" matInput>
              <mat-error *ngIf = "requiredError('amountNumber', 'required') || mindError('amountNumber', 'min')">Potrebno je uneti količinu pica veću od 0!</mat-error>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
          </mat-form-field>
          <br />

          <mat-form-field appearance="legacy">
              <mat-label for="amountUnit">MERNA JEDINICA</mat-label>
              <mat-select class="form-control" formControlName="amountUnit">
                  <mat-option value="l">l</mat-option>
                  <mat-option value="dl">dl</mat-option>
                  <mat-option value="ml">ml</mat-option>
              </mat-select>
              <mat-error *ngIf = "requiredError('amountUnit', 'required')">Potrebno je uneti mernu jedinicu!</mat-error>
          </mat-form-field>

        </form>
        <br/>
      </mat-card-content>

      <mat-card-actions>
          <button mat-raised-button type="submit" class="option_button" id="add_new_meal_button"  [disabled] = "piceForma.invalid" (click) = "sacuvaj()" >SAČUVAJ</button>
      </mat-card-actions>

    </mat-card>
</body>
  
  
  
  