<body>
    <h1><a (click) = "nazadNaProfil()">VAŠ PROFIL</a></h1>
  
    <br/>
    <br/>
    
    <mat-card class="new-meal-card">
      <mat-card-title-group>
          <img mat-card-lg-image class="picture" src="assets\{{slika}}" >
        </mat-card-title-group>
      
      <mat-card-content>

        <br />
        <form class="form" [formGroup] = "piceForma">

          <mat-form-field appearance="legacy">
            <mat-label for="name">NAZIV PIĆA</mat-label>
            <input type="text" class="form-control" formControlName="name" id="ime" matInput>
            <mat-error *ngIf = "requiredError('name', 'required')">Potrebno je uneti naziv pića!</mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
          <br />
          
          <mat-form-field appearance="legacy">
            <mat-label for="description">OPIS PIĆA</mat-label>
            <textarea matInput  type="text" class="form-control" formControlName="description" id="opis"></textarea>
            <mat-error *ngIf = "requiredError('description', 'required')">Potrebno je uneti opis pića!</mat-error>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
          <br />

          <mat-form-field appearance="legacy">
              <mat-label for="type">KATEGORIJA PIĆA</mat-label>
              <mat-select class="form-control" formControlName="type" id="kategorija">
                  <mat-option value="CARBONATED_DRINK" id="gazirano">Gazirano piće</mat-option>
                  <mat-option value="NOCARBONATED_DRINK" id="negazirano">Negazirano piće</mat-option>
                  <mat-option value="ALCOHOL" id="alkoholno">Alkoholno piće</mat-option>
                  <mat-option value="HOT_DRINK" id="toplo">Topli napici</mat-option>
              </mat-select>
              <mat-error *ngIf = "requiredError('type', 'required')">Potrebno je uneti kategoriju pićA!</mat-error>
          </mat-form-field>
          <br />

          <mat-form-field appearance="legacy">
              <mat-label for="amountNumber">KOLIČINA</mat-label>
              <input type="number" class="form-control" formControlName="amountNumber" id="kolicina" matInput>
              <mat-error *ngIf = "requiredError('amountNumber', 'required') || mindError('amountNumber', 'min')">Potrebno je uneti količinu pica veću od 0!</mat-error>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
          </mat-form-field>
          <br />

          <mat-form-field appearance="legacy">
              <mat-label for="amountUnit">MERNA JEDINICA</mat-label>
              <mat-select class="form-control" formControlName="amountUnit" id="jedinica">
                  <mat-option value="l" id="l">l</mat-option>
                  <mat-option value="dl" id="dl">dl</mat-option>
                  <mat-option value="ml" id="ml">ml</mat-option>
              </mat-select>
              <mat-error *ngIf = "requiredError('amountUnit', 'required')">Potrebno je uneti mernu jedinicu!</mat-error>
          </mat-form-field>
          
          <br/>
          <mat-form-field appearance="fill">
            <mat-label>SLIKA</mat-label>
            <mat-select id="slika">
              <mat-option (click) = "promenaSlike($event)" id="uneverzalna">Univerzalna</mat-option>
              <mat-option (click) = "promenaSlike($event)" id ="kafa">Kafa</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="caj">Čaj</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="sok">Sok</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="voda">Voda</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="vino">Vino</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="pivo">Pivo</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="zestina">Žestina</mat-option>
              <mat-option (click) = "promenaSlike($event)" id="koktel">Kokteli</mat-option>
            </mat-select>
          </mat-form-field>
        <br />
        </form>
      </mat-card-content>

      <mat-card-actions>
          <button mat-raised-button type="submit" class="option_button" id="dugmeSacuvaj"  [disabled] = "piceForma.invalid" (click) = "sacuvaj()" >SAČUVAJ</button>
      </mat-card-actions>

    </mat-card>
</body>
  
  
  
  