<body>
    <h1><a (click) = "nazadNaProfil()">VAŠ PROFIL</a></h1>
  
    <br>
    <br>

    <div class="card_div">
      <mat-card class="server_profile_card">
          
          <mat-card-content>
            <div class="server_data">
              <span>Naziv:</span>
              <span style="color:black">&nbsp;</span>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Naziv pica</mat-label>
                <input matInput style="color:black" value="{{pice?.name}}" [(ngModel)]="pice.name">
              </mat-form-field>
              <br/>
              <span>Opis:</span>
              <span style="color:black">&nbsp;</span>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Opis pica</mat-label>
                <input matInput style="color:black" value="{{pice?.description}}" [(ngModel)]="pice.description">
              </mat-form-field>
              <br/>
              <span>Kolicina:&nbsp;</span>
              <mat-form-field appearance="fill">
                <mat-label>Vrednost</mat-label>
                <input matInput style="color:black;" type="number" value="{{pice?.amountNumber}}" [(ngModel)]="pice.amountNumber">
              </mat-form-field>
              <span>&emsp;&emsp;</span>
              <mat-form-field appearance="fill">
                <mat-label>Jedinica</mat-label>
                <input matInput style="color:black;" value="{{pice?.amountUnit}}" [(ngModel)]="pice.amountUnit">
              </mat-form-field>
              <br/>
              <span>Kategorija:&nbsp;</span>
              <mat-form-field appearance="fill" style="color:black">
                <mat-label>Kategorija</mat-label>
                <mat-select [(value)]="kategorija" [(ngModel)]="kategorija">
                  <mat-option value="gazirano">Gazirana pica</mat-option>
                  <mat-option value="negazirano">Negazirana pica</mat-option>
                  <mat-option value="alkoholno">Alkoholna pica</mat-option>
                  <mat-option value="toplo">Topli napitci</mat-option>
                </mat-select>
              </mat-form-field>
              <br/>
              <span>Slika:</span>
              <span style="color:black">&nbsp;</span>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Odabrana slika</mat-label>
                <input matInput style="color:black" value="{{pice?.image}}" [(ngModel)]="pice.image">
              </mat-form-field>
            </div>

            <div class="options">
              <button mat-raised-button class="option_button" (click) = "sacuvaj()">SACUVAJ</button>
            </div>
          </mat-card-content>
      </mat-card>
  </div>
</body>
  
  
  
  