<body>

    <h1><a>NOVO JELO</a></h1>

    <br>

    <mat-card class="new-meal-card">
        <mat-card-title-group>
            <img mat-card-lg-image class="picture" src="../../../../assets/{{slika}}" >
          </mat-card-title-group>
        
        <mat-card-content>

          <br />
          <form class="form" [formGroup] = "newMealForm">

            <mat-form-field appearance="legacy">
              <mat-label for="name">NAZIV JELA</mat-label>
              <input type="text" class="form-control" formControlName="name" id="name" matInput >
              <mat-error *ngIf = "requiredError('name', 'required')">Potrebno je uneti naziv jela!</mat-error>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br />
            

            <mat-form-field appearance="legacy">
              <mat-label for="description">OPIS JELA</mat-label>
              <textarea matInput  type="text" class="form-control" formControlName="description" id="description"></textarea>
              <mat-error *ngIf = "requiredError('description', 'required')">Potrebno je uneti opis jela!</mat-error>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br />

            

            <mat-form-field appearance="legacy">
                <mat-label for="type">TIP JELA</mat-label>
                <mat-select class="form-control" formControlName="type" id ="type">
                    <mat-option value="COLD_APPETIZER" id="cold" (click)="promenaSlike(1)">Hladno predjelo</mat-option>
                    <mat-option value="HOT_APPETIZER" id="hot" (click)="promenaSlike(2)">Toplo predjelo</mat-option>
                    <mat-option value="MAIN_COURSE" id="main" (click)="promenaSlike(3)">Glavno jelo</mat-option>
                    <mat-option value="DESERT" id="deserts" (click)="promenaSlike(4)">Desert</mat-option>
                    <mat-option value="SALAD" id="salad" (click)="promenaSlike(5)">Salata</mat-option>
                    <mat-option value="APPENDICES" id="appendices" (click)="promenaSlike(6)">Dodaci</mat-option>
                </mat-select>
                <mat-error *ngIf = "requiredError('type', 'required')">Potrebno je uneti tip jela!</mat-error>
            </mat-form-field>
            <br />


            <mat-form-field appearance="legacy">
                <mat-label for="timePreparation">VREME PRIPREME</mat-label>
                <input type="number" class="form-control" formControlName="timePreparation" id="time" matInput >
                <mat-error *ngIf = "requiredError('timePreparation', 'required') || mindError('amountNumber', 'min')">Potrebno je uneti vreme pripreme jela  veću od 0!</mat-error>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br />


            <mat-form-field appearance="legacy">
                <mat-label for="mealDifficulty">TEŽINA PRIPREME JELA</mat-label>
                <mat-select class="form-control" formControlName="mealDifficulty" id="heavy">
                    <mat-option value="EASY" id="easy">Lako</mat-option>
                    <mat-option value="MEDIUM" id="medium">Srednje</mat-option>
                    <mat-option value="HARD" id="hard">Teško</mat-option>
                </mat-select>
                <mat-error *ngIf = "requiredError('mealDifficulty', 'required')">Potrebno je uneti težinu pripreme jela!</mat-error>
            </mat-form-field>
            <br />


            <mat-form-field appearance="legacy">
                <mat-label for="amountNumber">KOLIČINA SERVIRANJA</mat-label>
                <input type="number" class="form-control" formControlName="amountNumber" id="amountNumber" matInput >
                <mat-error *ngIf = "requiredError('amountNumber', 'required') || mindError('amountNumber', 'min')">Potrebno je uneti količinu serviranja jela veću od 0!</mat-error>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <br />


            <mat-form-field appearance="legacy">
                <mat-label for="amountUnit">JEDINICA KOLIČINE SERVIRANJA</mat-label>
                <mat-select class="form-control" formControlName="amountUnit" id="amountUnit">
                    <mat-option value="g" id="g">g</mat-option>
                    <mat-option value="kg" id="kg">kg</mat-option>
                    <mat-option value="ml" id="ml">ml</mat-option>
                    <mat-option value="l" id="l">l</mat-option>
                </mat-select>
                <mat-error *ngIf = "requiredError('amountUnit', 'required')">Potrebno je uneti jedinicu količine serviranja!</mat-error>
            </mat-form-field>
            
        </form>
          <br />
          
        </mat-card-content>

        <button mat-raised-button type="submit" class="option_button" id="add_new_meal_button"  [disabled] = "newMealForm.invalid" (click) = "addNewMeal()" > DODAJ JELO</button>
        <button mat-raised-button class="back_button" id="return_button"  (click) = "back()">NAZAD</button>

      </mat-card>

</body>
