<body>
    <mat-toolbar class="toolbar">
        <mat-radio-group [value]="chosenOption" (change)="changeItems($event.value)">
            <mat-radio-button *ngFor="let option of options" [value]="option">{{option}}</mat-radio-button>
        </mat-radio-group>
        <div class="filler"></div>
        <mat-form-field>
            <mat-label>Kategorija</mat-label>
            <mat-select (selectionChange)="changeCategory($event.value)">
                <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="back()">ODUSTANI</button>
    </mat-toolbar>
    <section id='itemsSection'></section>
    <br>
    <br>
    <button mat-button (click)="viewOrder()" class="view">PREGLEDAJ</button>
</body>