body {
    background-color: #5d7c77;
}

.toolbar {
    display: flex;
    height: 50px;
}

.mat-radio-button {
    margin-left: 16px;
}

.filler {
    flex-grow: 1;
}

.mat-button {
    margin-right: 50px;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffd740;
    border-radius: 10px;
}

.view{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    font-size: 20px;
    color: 5d7c77;
    font-family: 'Trocchi', serif; 
}