body {
    background-color: #5d7c77;
}

.toolbar {
    display: flex;
    height: 50px;
}

.mat-radio-group {
    padding-left: 0px;
}

.mat-radio-button {
    margin-left: 16px;
}

.filler {
    flex-grow: 1;
}

.mat-form-field {
    padding-right: 80px;
}

.option_button {
    background-color: #5d7c77;
    width: 100px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Trocchi', serif;
    font-size: 20px;
    margin-left: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffd740;
    border-radius: 10px;
}