<body>

    <h2 mat-dialog-title>NOVI MENI</h2>

    <br />

    <div>
        <mat-dialog-content> Da li ste sigurni da želite kreirani meni postaviti kao trenutni meni?</mat-dialog-content>
    </div>


    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close class="option_button" id="yes_option" mat-dialog-close="true"> DA </button>
        <button mat-raised-button mat-dialog-close class="option_button" id="no_option" mat-dialog-close="false"> NE </button>
    </mat-dialog-actions>

</body>