<body>
  <mat-toolbar class="toolbar">
    <mat-form-field>
      <mat-select [value]="currentWaiter" (selectionChange)="changeWaiter($event.value)">
        <mat-option *ngFor="let waiter of waiters" [value]="waiter">{{waiter}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="filler"></div>
    <button mat-button (click)="logout()">ODJAVA</button>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
  </mat-toolbar>
  <div id="restaurant" class="restaurant">
    <app-table *ngFor="let tableWrapper of tableWrappers" [tableWrapper]="tableWrapper" (click)="order(tableWrapper)">
    </app-table>
  </div>
</body>