<div class="screen">
  <mat-toolbar class="parent">



    <mat-form-field>

      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
         {{food.viewValue}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    

    <div class="filler"></div>


    <button mat-button (click) = "logout()">ODJAVA</button>


    <button mat-icon-button color="warn">
      <mat-icon>where_to_vote</mat-icon>
    </button>

  </mat-toolbar>

  <div id="restaurant" class="restaurant" style="width: 1100px; height: 600px;">
    <app-table *ngFor="let table of tables" [tableItem]="table" [parentWidth]="1100" [parentHeight]="600"></app-table>
  </div>

</div>

