<div class="screen">
  <mat-toolbar class="parent">
    <mat-form-field>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="filler"></div>
    <button mat-button (click)="logout()">ODJAVA</button>
    <button mat-icon-button color="warn">
      <mat-icon>where_to_vote</mat-icon>
    </button>
  </mat-toolbar>

  <div #restaurantcontainer id="restaurant" class="restaurant" >
    <app-table *ngFor="let tableWrapper of tableWrappers" [tableWrapper]="tableWrapper"></app-table>
  </div>
</div>