body {
  background-color: #5d7c77;
}

.toolbar {
  display: flex;
  height: 50px;
  padding: 0px 30px;
}

.filler {
  flex-grow: 1;
}

.restaurant{
  position: relative;
  margin: 50px auto;
  padding: 1em;
  width: 1200px;
  height: 600px;
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}
