<body>
    <h1><a (click) = "nazadNaProfil()">VAŠ PROFIL</a></h1>
  
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Kategorija</mat-label>
      <mat-select id="kategorija">
        <mat-option (click) = "promenaKategorije($event)" id="sve">Sve kategorije</mat-option>
        <mat-option (click) = "promenaKategorije($event)" id="gazirana">Gazirana pića</mat-option>
        <mat-option (click) = "promenaKategorije($event)" id="negazirana">Negazirana pića</mat-option>
        <mat-option (click) = "promenaKategorije($event)" id="alkoholna">Alkoholna pića</mat-option>
        <mat-option (click) = "promenaKategorije($event)" id="topla">Topli napici</mat-option>
      </mat-select>
    </mat-form-field>

    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

    <mat-form-field class="pretraga" appearance="legacy">
      <mat-label for="name">PRETRAGA</mat-label>
      <input type="text" [(ngModel)]="pretraga" id="pretraga" matInput>
      <mat-icon matSuffix (click)="pretrazi()" id="searchIkona">search icon</mat-icon>
    </mat-form-field>
      
    <br/>
    <br/>

    <section id='divZaPica'></section>
</body>
