<body>
    <h1><a (click) = "nazadNaProfil()">VAŠ PROFIL</a></h1>
  
    <br>
    <br>

    <div class="card_div">
      <mat-card class="server_profile_card">
        <img mat-card-lg-image name="profile_picture" class="profile_picture" src="assets\{{pice?.image}}">
          
          <mat-card-content>
            <div class="server_data">
              <span>Naziv:</span>
              <span style="color:black">&nbsp;{{pice?.name}}</span>
              <br/>
              <span>Opis:</span>
              <span style="color:black">&nbsp;{{pice?.description}}</span>
              <br/>
              <span>Kolicina:</span>
              <span style="color:black">&nbsp;{{pice?.amountNumber}} {{pice?.amountUnit}}</span>
              <br/>
              <span>Kategorija:</span>
              <span style="color:black">&nbsp;{{kategorija}}</span>
              <br/>
            </div>

            <div class="options">
              <button mat-raised-button class="option_button" (click) = "izmeni()">IZMENI</button>
              <br/>
              <button mat-raised-button class="option_button" (click) = "izbrisi()">IZBRISI</button>
            </div>
          </mat-card-content>
      </mat-card>
  </div>
</body>
  
  
  
  