<body>
    <h1><a (click) = "nazadNaProfil()">VAŠ PROFIL</a></h1>
  
    <br>
    <br>

    <div class="card_div">
      <mat-card class="server_profile_card">
        <img mat-card-lg-image name="profile_picture" class="profile_picture" src="assets\{{pice?.image}}">
          
          <mat-card-content>
            <div class="server_data">
              <span>Naziv:&nbsp;</span>
              <span style="color:black" id="naziv">{{pice?.name}}</span>
              <br/>
              <span>Opis:&nbsp;</span>
              <span style="color:black" id="opis">{{pice?.description}}</span>
              <br/>
              <span>Količina:&nbsp;</span>
              <span style="color:black" id="kolicina">{{pice?.amountNumber}} {{pice?.amountUnit}}</span>
              <br/>
              <span>Kategorija:&nbsp;</span>
              <span style="color:black" id="kategorija">{{kategorija}}</span>
              <br/>
            </div>

            <div class="options">
              <button mat-raised-button class="option_button" id="dugmeIzmeni" (click) = "izmeni()">IZMENI</button>
              <br/>
              <button mat-raised-button class="option_button" id="dugmeIzbrisi" (click) = "izbrisi()">IZBRIŠI</button>
            </div>
          </mat-card-content>
      </mat-card>
  </div>
</body>
