<body>

  <h1><a href="#0">VAŠ PROFIL</a></h1>

  <br>
  <br>
  <br>
  <div class="card_div">
    <mat-card class="cook_profile_card">
      <img mat-card-lg-image name="profile_picture" class="profile_picture" src="assets\admin_profile.jpg" >
        
        <mat-card-content>
          <div class="admin_data">
            <span>{{loggedAdminName}}</span>
            <span>&nbsp;</span>
            <span>{{loggedAdminLastName}}</span>
          </div>

          <div class="options">
            <button mat-raised-button class="option_button" id="modify-layout" (click) = "modifyLayout()">Izmena postavke restorana</button>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click) = "logout()">ODJAVA</button>
        </mat-card-actions>
    </mat-card>
</div>

</body>