<body>

  <h1><a>VAŠ PROFIL</a></h1>

    <br>
    <br>
    <br>

  <div class="card_div">
    <mat-card class="cook_profile_card">
      <img mat-card-lg-image name="profile_picture" class="profile_picture" src="assets\chef_profile.jpg" >
        
        <mat-card-content>
          <div class="cook_data">
            <span>{{loggedCookName}}</span>
            <span>&nbsp;</span>
            <span>{{loggedCookLastName}}</span>
          </div>

          <div class="options">
            <button mat-raised-button class="option_button" id="orders" (click) = "orders()">PORUDŽBINE</button>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click) = "logout()">ODJAVA</button>
        </mat-card-actions>
    </mat-card>
</div>

</body>