
<div id="screen" class="screen">
    <div class="welcome-text">
        <p>Drag!</p>
        <p>Drop!</p>
        <p>Resize!</p>
    </div>
    

    <div id="restaurant" class="dropzone">
        Restaurant
    </div>

    <div id="yes-drop" name="1" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="2" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="3" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="4" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="5" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="6" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="7" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="8" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="9" class="resize-drag"> 
        Table 
    </div>
    <div id="yes-drop" name="10" class="resize-drag"> 
        Table 
    </div>

    <button mat-raised-button class="big-btn"> DONE! </button>
</div>

