
<div class="screen">

    <div id="restaurant" class="dropzone">
        Restaurant
    </div>

    <!-- <div class="dropzone-trash"> 
        Trash
    </div> -->


    <!--Novi da se spawnuje na onEnd-->
    <div id="hej" class="resize-drag">
        Resize from any edge or corner
    </div>

    

    <div id="yes-drop" class="resize-drag"> 
        #yes-drop 
    </div>

    <div id="yes-drop" class="resize-drag"> 
        #yes-drop 
    </div>

    <div id="yes-drop" class="resize-drag"> 
        #yes-drop 
    </div>

    

</div>

