.draggable {
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

.resize-drag {
  width: 120px;
  border-radius: 8px;
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.dropzone {
  position: relative;
  top: 10%;
  left: 25%;
  padding: 1em;
  border: 1px solid #cc0000;

  height: 70%;
  width: 60%;
  
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-sizing: border-box
}

.drop-active {
  border-color: #aaa;
}

.screen { 
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box
}


.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}